#carrousel {
    width: 100%;
    padding: 2rem 0;
    background-color: #414f6bdc;
    height: 200px;

    position: absolute;
    bottom: 0;

    .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: .4rem;
    }
}

.glide__slide img {
    width: 100%;
}

.glide__slide {
    height: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
}