@import './variables';

#heroSection {
    width: 100%;
    height: 700px;

    background-image: url('../assets/hero_section_bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        font-family: "Bebas Neue";
        font-size: 7rem;
        letter-spacing: .5rem;
        line-height: 124px;
        font-weight: 400;
        text-transform: uppercase;
        color: #4d4d4d;

        position: relative;
        top: -4.3rem;
    }
}