#heroSection {
    width: 100%;
    height: var(--section-default-height);
    z-index: 1;

    background-image: url('../assets/hero_section_bg.png');
    @include imageBackGround();

    .flex {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-family: "Bebas Neue";
        font-size: 7rem;
        letter-spacing: .5rem;
        line-height: 124px;
        font-weight: 400;
        text-transform: uppercase;
        color: #4d4d4d;

        position: relative;
        top: -7rem;
    }
}