@mixin flex() {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@mixin imageBackGround() {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}