#tabSection {
    width: 100%;
    min-height: 700px;
}

#tabsHeaderStrip {
    width: 100%;
    padding: .5rem 1rem;
    background-color: #fff;

    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        #sectoinTitle {
            width: auto;
            display: block;
            margin-right: 8rem;
        }
    }
}