#tabSection {
    width: 100%;
    min-height: 700px;
}

#tabsHeaderStrip {
    width: 100%;
    background-color: #fff;

    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        #sectoinTitle {
            width: auto;
            display: block;
            margin-right: 8rem;
        }

        p {
            font-size: 16px;
            line-height: 24px;
            color: #000000;
            font-weight: 300;
            font-family: "Lato";
        }
    }
}

#sectionHeader {
    width: 100%;
    height: 40px;
    background-color: #414f6b;

    button {
        height: 40px;
        padding: .2rem 1rem;

        font-weight: 700;
        font-family: "Oswald";
        font-size: 1rem;
        text-transform: uppercase;

        border: none;
        color: #b0b4be;
        background-color: transparent;
        cursor: pointer;

        &:hover {
            background-color: #b0b4be;
            color: #414f6b;
            text-decoration: underline;
        }
    }
}

#sectionBody {
    min-height: 400px;
    padding: 1rem 0;
    background-color: yellow;
}