@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@400;700;900&family=Oswald:wght@200;400;600;700&display=swap');

@import "./variables";
@import "./mixins";
@import "./navbar";
@import "./heroSectoin";
@import "./historySection";
@import "./tabs";
@import "./footer";

*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.showTab {
    display: block;
}

.hideTab {
    display: none;
}

.selectedTab {
    background-color: #b0b4be !important;
    color: #414f6b !important;
    text-decoration: underline;
}