@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@400;700;900&family=Oswald:wght@200;400;600;700&display=swap");
:root {
  --section-default-height: 700px;
}

li:first-of-type {
  margin-right: 2rem;
}

#heroSection header nav ol,
#heroSection header nav li,
#heroSection header nav a {
  color: #fefeff;
}
#heroSection header nav a {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 900;
  font-style: italic;
  font-family: "Lato";
}

#secondaryNavBar {
  background-color: #fff;
}
#secondaryNavBar .brandComplex {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#secondaryNavBar .brandComplex span {
  display: block;
  font-family: "Bebas Neue";
  font-size: 21px;
  letter-spacing: 0px;
  line-height: 23px;
  text-transform: uppercase;
  color: #63769d;
  margin-left: 0.5rem;
}
#secondaryNavBar nav ol,
#secondaryNavBar nav ol li a {
  color: #414f6b;
}

#heroSection {
  height: var(--section-default-height);
  background-image: url("../assets/hero_section_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#heroSection #heroSectionContent {
  height: 100%;
}
#heroSection #heroSectionContent h1 {
  font-family: "Bebas Neue";
  font-size: 7rem;
  letter-spacing: 0.5rem;
  line-height: 124px;
  font-weight: 400;
  text-transform: uppercase;
  color: #4d4d4d;
  position: relative;
  top: -7rem;
}

#historySection {
  min-height: var(--section-default-height);
  background-image: url("../assets/histry_section.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

#sectoinTitle {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
#sectoinTitle h1 {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  opacity: 0.502;
  font-size: 8.5rem;
  color: #414f6b;
  font-weight: 700;
  font-family: "Oswald";
  position: relative;
}
#sectoinTitle h1:after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-color: #414f6b;
  position: absolute;
}
#sectoinTitle h5 {
  font-family: "Oswald";
  font-size: 2rem;
  font-weight: 700;
  color: #414f6b;
  text-transform: uppercase;
  position: absolute;
}
#sectoinTitle h1::after {
  bottom: 19px;
  right: -25px;
}
#sectoinTitle h5 {
  top: 77px;
  right: -110px;
}

#carrousel {
  width: 100%;
  background-color: rgba(65, 79, 107, 0.862745098);
  height: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
}

#tabSection {
  width: 100%;
  min-height: var(--section-default-height);
}

#mobileTabs {
  display: none;
}

#tabsHeaderStrip {
  width: 100%;
  background-color: #fff;
}
#tabsHeaderStrip .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#tabsHeaderStrip .container #sectoinTitle {
  width: auto;
  display: block;
  margin-right: 8rem;
}
#tabsHeaderStrip .container p {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  font-weight: 300;
  font-family: "Lato";
}

#sectionHeader {
  width: 100%;
  height: 40px;
  background-color: #414f6b;
}
#sectionHeader button {
  height: 40px;
  padding: 0.2rem 1rem;
  font-weight: 700;
  font-family: "Oswald";
  font-size: 1rem;
  text-transform: uppercase;
  border: none;
  color: #b0b4be;
  background-color: transparent;
  cursor: pointer;
}
#sectionHeader button:hover {
  background-color: #b0b4be;
  color: #414f6b;
  text-decoration: underline;
}

#tabOneContent {
  background-image: url("../assets/tab_01.png");
}

#tabTwoContent {
  background-image: url("../assets/tab_02.png");
  display: none;
}

#tabOneContent,
#tabTwoContent {
  padding-top: 5rem;
  width: 100%;
  min-height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#tabOneContent #scheduleCard,
#tabTwoContent #scheduleCard {
  width: 352px;
  height: 229px;
  background-color: rgba(255, 255, 255, 0.631372549);
  padding: 1rem;
  z-index: 99;
}
#tabOneContent #scheduleCard h3,
#tabTwoContent #scheduleCard h3 {
  font-family: "Oswald";
  color: #414f6b;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}
#tabOneContent #scheduleCard table,
#tabTwoContent #scheduleCard table {
  width: 100%;
  font-weight: 300;
  font-family: "Lato";
}

@media only screen and (max-width: 768px) {
  #tabsHeaderStrip .container p {
    font-size: 0.8rem !important;
  }
  #desktopTabs {
    display: none;
  }
  #mobileTabs {
    display: block;
  }
  #mobileTabs #tabTwoContent,
  #mobileTabs #tabTwoContent {
    display: block;
  }
  #mobileTabs .accordion {
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  #mobileTabs .active,
  #mobileTabs .accordion:hover {
    background-color: #ccc;
  }
  #mobileTabs .panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
}
footer {
  background-color: #414f6b;
}
footer .brandComplex {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer .brandComplex span {
  display: block;
  font-family: "Bebas Neue";
  font-size: 21px;
  letter-spacing: 0px;
  line-height: 23px;
  text-transform: uppercase;
  color: #63769d;
  margin-left: 0.5rem;
}
footer p {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 20px;
  text-transform: uppercase;
  color: #63769d;
  font-weight: 900;
  font-style: italic;
  font-family: "Lato";
}

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.showTab {
  display: block;
}

.hideTab {
  display: none;
}

.selectedTab {
  background-color: #b0b4be !important;
  color: #414f6b !important;
  text-decoration: underline;
}/*# sourceMappingURL=index.css.map */