@import "./variables";
@import "./shared";
@import "./navbar";
@import "./heroSection";
@import "./historySection";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@400;700;900&family=Oswald:wght@200;400;600;700&display=swap');

*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serifs;
    font-size: 1rem;
    line-height: 1.5;
}

.container {
    display: block;
    width: var(--content-max-width);
    margin: 0 auto;
}

// *** ROOT AND SHARED STYLING 👆️
// *** SECTIONS AND COMPONENTS 👇️